%%-*- mode: erlang -*-
{erl_opts, [[hipe,o3]]}.
{deps, [
	{cowboy, ".*", {git, "git://github.com/extend/cowboy.git", "master"}},
	{lager, ".*", {git, "git://github.com/basho/lager.git", "master"}},
	{emysql, ".*", {git, "git://github.com/Eonblast/Emysql.git", "master"}},
	{jsx, ".*", {git, "https://github.com/talentdeficit/jsx.git", "master"}}
]}.
